<div class="dropdownContainer">
    <button class="customizeOption @(IsShown?"slideInTopCustom":(!FirstLoad?"slideOutTopCustom":"hideTopCustom"))"><img src="background.png" alt="Change Background"></button>
    <button class="customizeOption @(IsShown?"slideInTopCustom":(!FirstLoad?"slideOutTopCustom":"hideTopCustom"))"><img src="weather.png" alt="Change Weather"></button>
    <button class="customizeOption @(IsShown?"slideInTopCustom":(!FirstLoad?"slideOutTopCustom":"hideTopCustom"))"><img src="sound.png" alt="Change Sound and Music"></button>
    <button class="customizeOption @(IsShown?"slideInTopCustom":(!FirstLoad?"slideOutTopCustom":"hideTopCustom"))"><img src="time.png" alt="Change Time"></button>
</div>

<style>
    .dropdownContainer {
        margin: 0px 0px 0px 15px;
    }
    .customizeOption {
        z-index: 1;
        position: relative;
        padding: 5px;
        margin: auto;
        display: inline;
        width: 50px;
        height: 50px;
        background-color: #f9f3fe;
        border-radius: 25px;
        max-height: 10vh;
        animation: hideTop 1s forwards;
        visibility: hidden;
    }

    .customizeOption img {
        height: 25px;
        width: 25px;
    }
    .slideInTopCustom {
        animation: fromTopCustom @AnimationTime forwards;
    }

    .slideOutTopCustom {
        animation: toTopCustom @AnimationTime forwards;
    }

    @@keyframes toTopCustom {
        0% {
            visibility: visible;
            opacity: 1;
        }

        100% {
            visibility: hidden;
            transform: translateY(-30vh);
            opacity: 0;
        }
    }

    @@keyframes fromTopCustom {
        0% {
            visibility: hidden;
            transform: translateY(-30vh);
            opacity: 0;
        }

        100% {
            visibility: visible;
            transform: translateY(0px);
            opacity: 1
        }
    }

    @@keyframes hideTopCustom {
        0% {
            visibility: hidden;
            display: none;
            transform: translateY(-30vh);
            opacity: 0;
        }

        100% {
            visibility: hidden;
            display: none;
            transform: translateY(-30vh);
            opacity: 0;
        }
    }
</style>

@code {
    [Parameter] public string AnimationTime { get; set; }
    [Parameter] public bool IsShown { get; set; }
    [Parameter] public bool FirstLoad { get; set; }
}
