@page "/"

<main>
    <div class="controlSection">
        <div class="customizationContainer">
            <CustomizeMenu />
        </div>
        <div class="journalContainer">
            <JournalMenu />
        </div>
        <div class="loginLogoutContainer">
            <LoginMenu />
        </div>
    </div>
    <div class="muralSection">
        <Mural />
    </div>
    <div class="panelSection">
        <Panels />
    </div>
</main>
