<button class="menuButton" @onclick="OnButtonClick">Journal</button>
<JournalMenuAnime AnimationTime="1.5s" IsShown=@isShown FirstLoad=@firstLoad />
@code {
    bool firstLoad = true;
    bool isShown = false;

    private void OnButtonClick()
    {
        isShown = !isShown;
        if (firstLoad == true)
        {
            firstLoad = false;
        }
    }

    private string? inputValue { get; set; }

    private string? ObtainedValue { get; set; }

    private string? entry { get; set; }

    void GetJournal()
    {
        entry = "Placeholder";
    }

    void SaveEntry()
    {
        ObtainedValue = inputValue;
    }

}
