<div id="journal">
    <button class="scrollButton">&lt;</button>
    <div class="journalPage">
        <p>
            Page 2
        </p>
    </div>
    <div class="journalPage">
        <p>
            Page 1
        </p>
    </div>
    <button class="scrollButton">&gt;</button>
</div>

@code {

}
