<button class="loginButton" @onclick="OnButtonClick"><img src="account.png" alt="User Account"></button>
<LoginMenuAnime AnimationTime="1.5s" IsShown=@isShown FirstLoad=@firstLoad />
@code {
    bool firstLoad = true;
    bool isShown = false;

    private void OnButtonClick()
    {
        isShown = !isShown;
        if (firstLoad == true)
        {
            firstLoad = false;
        }
    }
}
