<div class="mural">
    <Flower center_color="brown" petal_color="pink"></Flower>
    <Flower center_color="blue" petal_color="white"></Flower>
    <Flower center_color="yellow" petal_color="orange"></Flower>
    <Flower center_color="brown" petal_color="pink"></Flower>
</div> 