<div class="panelPopup @(IsShown?"slideInBottomPanel":(FirstLoad?"":"slideOutBottomPanel"))">
    <ul>
        @foreach (var item in Items) {
            <li>@item</li>
        }
    </ul>
</div>

<style>
    .panelPopup {
        z-index: 6;
        background-color: white;
        border-radius: 15px;
        position: relative;
        width: 18vw;
        height: 24vw;
        bottom: 16vh;
        display: inline-block;
        margin: 5px 5px 5px 5px;
        visibility: hidden;
        overflow: hidden;
    }

    .panelPopup ul {
        width: auto;
        visibility: inherit;
    }
    
    .centerBox {
        width: fit-content;
        margin: auto;
    }

    .slideInBottomPanel {
        animation: fromBottomPanel @AnimationTime forwards;
    }

    .slideOutBottomPanel {
        animation: toBottomPanel @AnimationTime forwards;
    }

    ul {
        margin-top: 10px;
        margin-right: 10px;
    }

    @@keyframes toBottomPanel {
        0% {
            visibility: visible;
            transform: translateY(-30vh);
            opacity: 1;
        }

        100% {
            visibility: hidden;
            transform: translateY(0vh);
            opacity: 0;
        }
    }

    @@keyframes fromBottomPanel {
        0% {
            visibility: hidden;
            transform: translateY(0vh);
            opacity: 0;
        }

        100% {
            visibility: visible;
            transform: translateY(-30vh);
            opacity: 1
        }
    }
</style>

@code {
    [Parameter] public string? AnimationTime { get; set; }
    [Parameter] public bool IsShown { get; set; }
    [Parameter] public bool FirstLoad { get; set; }
    [Parameter] public string[]? Items { get; set; }
}
