<div class="centerBox">
    <div class="panelContainer">
        <button class="panel">
            <div class="content">
                <p>Setting<br />Goals</p>
            </div>
        </button>
        <button class="panel">
            <div class="content">
                <p>Developing<br />Habits</p>
            </div>
        </button>
        <button class="panel">
            <div class="content">
                <p>Writing<br />Prompts</p>
            </div>
        </button>
        <button class="panel">
            <div class="content">
                <p>Support<br />Resources</p>
            </div>
        </button>
    </div>
</div>

@code {

}
