.centerBox {
    width: 100vw;
}

.panelContainer {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 18vw;
    height: 8vw;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.content, p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 90%;
}

p {
    font-size: 1.75vw;
}
