.centerBox {
    width: fit-content;
    margin: auto;
}

.panelContainer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.panel {
    width: 18vw;
    height: 8vw;
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}

.content, p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 90%;
}

p {
    font-size: 1.75vw;
}
