.page[b-atqorx3x7b] {
}

.main[b-atqorx3x7b] {
}

.controlSection[b-atqorx3x7b], .muralSection[b-atqorx3x7b], .panelSection[b-atqorx3x7b] {
}

.customizationContainer[b-atqorx3x7b], .logoutContainer[b-atqorx3x7b] {
}

.customizationContainer[b-atqorx3x7b] {
    width: 50px;
    float: left;
}

.customizeButton[b-atqorx3x7b] {
    margin: 5px 0 5px 5px;
    display: inline-block;
}

.logoutContainer[b-atqorx3x7b] {
    float: right;
}

.muralSection[b-atqorx3x7b] {
    margin: auto;
    background-color: lightblue;
    width: 500px;
    height: 500px;
}

.centerBox[b-atqorx3x7b] {
    width: fit-content;
    margin: auto;
}

.scrollButton[b-atqorx3x7b], .panelContainer[b-atqorx3x7b] {
    display: inline;
}

.panelContainer[b-atqorx3x7b] {
    width: 4000px;
}

.panel[b-atqorx3x7b] {
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 5 5 5 5;
    background-color: lightgray;
    border-radius: 5px;
}
