
<button class="customMenu"
<button class="customOption">Background</button>
<button class="customOption">Sound</button>
<button class="customOption">Weather</button>
<button class="customOption">C4</button>

@code {

}
