@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="controlSection">

            <div class="customizationContainer">
                <button class="customizeButton">C1</button>
                <button class="customizeButton">C2</button>
                <button class="customizeButton">C3</button>
                <button class="customizeButton">C4</button>
            </div>

            <div class="logoutContainer">
                <button id="logout">Logout</button>
            </div>

        </div>

        <div class="muralSection">
            MURAL GOES HERE
        </div>

        <div class="panelSection">

            <div class="centerBox">
                <button class="scrollButton">&lt;</button>

                <div class="panelContainer">
                    <div class="panel">Panel 1</div>
                    <div class="panel">Panel 2</div>
                    <div class="panel">Panel 3</div>
                    <div class="panel">Panel 4</div>
                </div>

                <button class="scrollButton">&gt;</button>
            </div>
        </div>
    </main>
</div>

