.page {
}

.main {
}

.controlSection, .muralSection, .panelSection {
}

.customizationContainer, .logoutContainer {
}

.customizationContainer {
    width: 50px;
    float: left;
}

.customizeButton {
    margin: 5px 0 5px 5px;
    display: inline-block;
}

.logoutContainer {
    float: right;
}

.muralSection {
    margin: auto;
    background-color: lightblue;
    width: 500px;
    height: 500px;
}

.centerBox {
    width: fit-content;
    margin: auto;
}

.scrollButton, .panelContainer {
    display: inline;
}

.panelContainer {
    width: 4000px;
}

.panel {
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 5 5 5 5;
    background-color: lightgray;
    border-radius: 5px;
}
