/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-atqorx3x7b] {
}

.main[b-atqorx3x7b] {
}

.controlSection[b-atqorx3x7b], .muralSection[b-atqorx3x7b], .panelSection[b-atqorx3x7b] {
}

.customizationContainer[b-atqorx3x7b], .logoutContainer[b-atqorx3x7b] {
}

.customizationContainer[b-atqorx3x7b] {
    width: 50px;
    float: left;
}

.customizeButton[b-atqorx3x7b] {
    margin: 5px 0 5px 5px;
    display: inline-block;
}

.logoutContainer[b-atqorx3x7b] {
    float: right;
}

.muralSection[b-atqorx3x7b] {
    margin: auto;
    background-color: lightblue;
    width: 500px;
    height: 500px;
}

.centerBox[b-atqorx3x7b] {
    width: fit-content;
    margin: auto;
}

.scrollButton[b-atqorx3x7b], .panelContainer[b-atqorx3x7b] {
    display: inline;
}

.panelContainer[b-atqorx3x7b] {
    width: 4000px;
}

.panel[b-atqorx3x7b] {
    display: inline-block;
    height: 200px;
    width: 300px;
    margin: 5 5 5 5;
    background-color: lightgray;
    border-radius: 5px;
}
/* /Shared/MuralLayout.razor.rz.scp.css */
page[b-rfhr973wug] {

}

main[b-rfhr973wug] {
}

classSection[b-rfhr973wug] {

}

customizationContainer[b-rfhr973wug] {

}

logoutContainer[b-rfhr973wug] {

}

muralSection[b-rfhr973wug] {

}

panelSection[b-rfhr973wug] {

}

panelContainer[b-rfhr973wug] {

}

scrollButton[b-rfhr973wug] {

}

panel[b-rfhr973wug] {
    background-color: lightgray;
    border-radius: 3px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-r9sbiredat] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-r9sbiredat] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-r9sbiredat] {
    font-size: 1.1rem;
}

.oi[b-r9sbiredat] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-r9sbiredat] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-r9sbiredat] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-r9sbiredat] {
        padding-bottom: 1rem;
    }

    .nav-item[b-r9sbiredat]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-r9sbiredat]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-r9sbiredat]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-r9sbiredat] {
        display: none;
    }

    .collapse[b-r9sbiredat] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
