
<button class="customizeMenu">Customize</button>
<div class="dropdownContainer">
    <ul class="dropdown-list">
        <li class="dropdownOption">Background</li>
        <li class="dropdownOption">Weather</li>
        <li class="dropdownOption">Sound</li>
        <li class="dropdownOption">Time</li>
    </ul>    
</div>

@code {
}
