.journalMenu {
    margin: 5px 0px 5px 5px;
}

.journalPage, .scrollButton {
    display: inline;
}

.dropdownOption {
    padding: 5px;
    margin: 5px 0px 0px 5px;
    display: inline-block;
    background-color: #f9f3fe;
    border-radius: 5px;
    cursor: pointer;
}
