@inject HttpClient Http
@using MentalMural.Shared

<div class="slideInJournal @(IsShown?"slideInLeftJournal":(FirstLoad?"":"slideOutLeftJournal"))">
    <div class="centerBox">
        <div class="half" id="left">
            <div class="centerBox">
                <div class="changePage">
                    <button @onclick="PrevEntry">&lt; Prev</button><button class="openJournal" @onclick="GetJournal">Open Journal</button><button @onclick="NextEntry">Next &gt;</button>
                </div>
                <p>@entry</p>
                <div class="extra">
                    <button id="clearJournal" @onclick="ClearJournal">Clear Journal</button>
                </div>
            </div>
        </div>
        <div class="half" id="right">
            <div class="centerBox">
                <h6>New Entry</h6>
                <textarea class="newEntry" @bind="inputValue" />
                <label>Mood Rating (1 - Bad, 10 - Good):</label><input type="number" min="1" max="10" @bind="moodRating"/>
                <button @onclick="SaveEntry">Save Entry</button>
            </div>
        </div>
    </div>
</div>

<style>
    .slideInJournal {
        z-index: 2;
        margin-top: 10px;
        float: right;
        background-color: white;
        position: relative;
        width: 80%;
        height: 100%;
        margin-right: 0px;
        border-radius: 10px;
        visibility: hidden;
    }

    .centerBox {
        width: fit-content;
        height: 100%;
        margin: auto;
    }

    .half {
        display: inline;
        width: 50%;
        height: 100%;
    }

    #left {
        float: left;
    }

    #left p {
        height: 80%;
        width: 80%;
    }

    .openJournal {
        margin: 0px 5px 0px 5px;
    }
    .changePage {
        margin-top: 10px;
    }

    #clearJournal {
        color: red;
    }

    #right {
        float: right;
    }

    .newEntry {
        width: 90%;
        resize: vertical;
        max-height: 50vh;
        margin: auto;
    }

    .slideInLeftJournal {
        animation: fromLeftJournal @AnimationTime forwards;
    }

    .slideOutLeftJournal {
        animation: toLeftJournal @AnimationTime forwards;
    }

    @@keyframes toLeftJournal {
        0% {
            visibility: visible;
            opacity: 1;
        }

        100% {
            visibility: hidden;
            transform: translateX(-20vw);
            opacity: 0;
        }
    }

    @@keyframes fromLeftJournal {
        0% {
            visibility: hidden;
            transform: translateX(-10vw);
            opacity: 0;
        }

        100% {
            visibility: visible;
            transform: translateX(0px);
            opacity: 1
        }
    }
</style>

@code {
    [Parameter] public string AnimationTime { get; set; }
    [Parameter] public bool IsShown { get; set; }
    [Parameter] public bool FirstLoad { get; set; }

    private string? inputValue { get; set; }

    private int curIndex = 0;

    private string? entry { get; set; }
    private int? moodRating { get; set; }

    private List<JournalEntryData>? entries;

    public async Task GetJournal()
    {
        curIndex = 0;
        entries = await Http.GetFromJsonAsync<List<JournalEntryData>>("JournalEntry/GetEntries");
        entry = entries == null || entries.Count == 0 ? "No entries to display." : entries[0].Entry;
    }

    async void SaveEntry()
    {
        JournalEntryData newEntry = new JournalEntryData();
        newEntry.Entry = inputValue;
        newEntry.Timestamp = DateTime.Now;
        newEntry.Id = (await Http.GetFromJsonAsync<List<JournalEntryData>>("JournalEntry/GetEntries")).Count + 1;
        // newEntry.MoodRating = moodRating == null ? 5 : (int)moodRating;
        await Http.PostAsJsonAsync<JournalEntryData>("JournalEntry/AddEntry", newEntry);

    }

    async void ClearJournal()
    {
        int len = (await Http.GetFromJsonAsync<List<JournalEntryData>>("JournalEntry/GetEntries")).Count;


        while (len > 0)
        {
            await Http.DeleteAsync("JournalEntry/DeleteEntry/" + len.ToString());
            len--;
        }

    }

    void NextEntry()
    {
        curIndex++;
        if (entries.Count != 0)
        {
            if (curIndex < (entries.Count - 1))
            {
                entry = entries[curIndex].Entry;
            } else
            {
                curIndex = entries.Count;
                entry = "END";
            }
        } else
        {
            entry = "No entries to display.";
        }
    }

    void PrevEntry()
    {
        curIndex--;
        if (entries.Count != 0)
        {
            if (curIndex > 0)
            {
                entry = entries[curIndex].Entry;
            }
            else
            {
                curIndex = -1;
                entry = "BEGIN";
            }
        }
        else
        {
            entry = "No entries to display.";
        }
    }
}

