<p id="journal">Received Entry: @entry</p>
<button class="journalMenu">Journal</button>
<div class="dropdownContainer">
    <ul class="dropdown-list">
        <li class="dropdownOption" @onclick="GetJournal">View Journal</li>
        <li class="dropdownOption">Add Entry</li>
    </ul>
    <input type="text" id="entry" @bind="inputValue"/>
    <button @onclick="SaveEntry">Fuck</button>
    <p>Received: @ObtainedValue</p>
</div>

@code {
    private string? inputValue { get; set; }

    private string? ObtainedValue { get; set; }

    private string? entry { get; set; }

    void GetJournal()
    {
        entry = "Placeholder";
    }

    void SaveEntry()
    {
        ObtainedValue = inputValue;
    }

}
