@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="controlSection">
            <div class="customizationContainer">
                <Customize />
            </div>
            <div class="logoutContainer">
                <Login />
            </div>
        </div>
        <div class="muralSection">
            <Mural />

            <div class="journalSection">
                <Journal />
            </div>
        </div>
        <div class="panelSection">
            <Panels />
        </div>
    </main>
</div>

