body {
}
.page {
    height: 100vh;
}

main {
    height: 100%;
    background-image: linear-gradient(lightblue, white);
}

.muralSection {
    z-index: 0;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    width: 100%;
    height: 75%;
}

.journalSection, .customizationContainer {
    position: relative;
    z-index: 1;
}
.journalSection {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
}

.customizationContainer {
    width: 100px;
    float: left;
}

.logoutContainer {
    float: right;
}

.panelSection {
    width: 100%;
    position: absolute;
    bottom: 0px;
}


