@inherits LayoutComponentBase

<div class="page @(initial?"default":"dynamic")">
    <div id="customization" class="sidebar">
        <ActionPanel BgPassUp="BackgroundChanged" TimePassUp="TimeChanged"></ActionPanel>
    </div>
    <div class="center">
        @Body
    </div>
    <div id="controls" class="sidebar">
        <UserPanel></UserPanel>
    </div>
</div>

<style>
    .page {
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        overflow: hidden;
    }

    .default {
        background-image: radial-gradient(circle at top right, ghostWhite, #1dd1a1);
    }

    .dynamic {
        background-image: radial-gradient(circle at top right, @timeColor, @bgColor);
    }

    .sidebar {
        z-index: 5;
        min-width: 60px;
        width: 60px;
        max-height: 100vh;
    }

    #customization {
        overflow: hidden;
    }

    #controls {
    }

    .center {
        max-height: 100vh;
        z-index: 0;
        display: inline-block;
        width: calc(100% - 120px);
    }

    body {
        overflow: hidden;
    }
</style>

@code {
    public string? bgColor = "#1dd1a1";
    public string? timeColor = "ghostWhite";
    public bool initial = true;

    protected void BackgroundChanged(int newBg)
    {
        initial = false;
        if (newBg == 1) {
            bgColor = "#1dd1a1";
        } else if (newBg == 2) {
            bgColor = "#feca57";
        } else if (newBg == 3) {
            bgColor = "#f368e0";
        } else {
            bgColor = "#8395a7";
        }
    }

    protected void TimeChanged(bool day)
    {
        initial = false;
        if (day) {
            timeColor = "ghostWhite";
        } else {
            timeColor = "dimGray";
        }
    }

}

