.page {
    height: 100vh;
    max-width: 100vw;
    background-image: radial-gradient(circle at top right, ghostwhite, #1dd1a1);
    display: flex;
}

.sidebar {
    z-index: 5;
    width: 60px;
    height: 100vh;
}

#customization {
}

#controls {
    float: right;
}

.center {
    height: 100vh;
    z-index: 0;
    width: auto;
    overflow: hidden;
}

body {

}