@inherits LayoutComponentBase

<div class="page">
    <div id="customization" class="sidebar">
        <ActionPanel OnBackgroundChange=""></ActionPanel>
    </div>
    <div class="center">
        @Body
    </div>
    <div id="controls" class="sidebar">
        <UserPanel></UserPanel>
    </div>
</div>

@code {
    
}

