@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using System


<div class="mural">
    <Flower color="#000"></Flower>
    
</div>
<div>
    <Flower color="pink"></Flower>
</div>


@code {

}