<div class="centerBox">
    <button class="scrollButton">&lt;</button>
    <div class="panelContainer">
        <div class="panel">
            <div class="content">
                <h1>Panel 1</h1>
            </div>
        </div>
        <div class="panel">
            <div class="content">
                <h1>Panel 2</h1>
            </div>
        </div>
        <div class="panel">
            <div class="content">
                <h1>Panel 3</h1>
            </div>
        </div>
        <div class="panel">
            <div class="content">
                <h1>Panel 4</h1>
            </div>
        </div>
    </div>
    <button class="scrollButton">&gt;</button>
</div>

@code {

}
